@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
/* header/logo font-family: 'Rampart One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
/* italic notes font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* bold font font-family: 'Jua', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
/* font-family: 'Cutive Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-image: url(images/wallpaperflare.com_wallpaper\ \(1\).jpg);
}

#navbar-logo {
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    background-image: linear-gradient(to right, #F7A4F6 0%, #9ABEDF 0%, #394180 21%,  #6AA0BE 52%, #FDFDFD 78%, #F7A4F6 100% );
    height: 80px;
    display: flex; /*NOTE puts items onto a row*/
    justify-content: center;
    align-items: center;
    /* NOTE  1 rem is equivalent to 16px*/
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* NOTE #999 is used to ensure that no matter where you are on the site that this element will always remain above */
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    /* FIXME change colors */
    background-color: #cdb4db;
    background-image: linear-gradient(to top, #ffafcc 0%, #ffc8dd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    /* NOTE creates hand motion when an element is hovered over */
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    /* FIXME colors */
    background: #cdb4db;
    color: #fff;
}

/* FIXME colors */

.button:hover {
    background: #a2d2ff;
    transition: all 0.3s ease;
}

.navbar-links:hover {
    color: #bde0fe;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /* NOTE ensures that the navbar menu will never be seen */
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar-menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar-logo {
        padding-left: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar-btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
/* NOTE creates a bar on the right side */
    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

/* REVIEW */
/* NOTE creates animation for the mobile menu */
    /* NOTE targets the second child */
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        
    }
}

/* SECTION hero */

.main {
    /* background-color: #cdb4db; */
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    height: 90vh;
    /* background-color: #cdb4db; */
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main-content h1 {
    font-size: 4rem;
    background-color: #bde0fe;
    background-image: linear-gradient(to top, #ffafcc 0%, #cdb4db 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content h2 {
    font-size: 4rem;
    background-color: #bde0fe;
    background-image: linear-gradient(to top, #a2d2ff 0%, #cdb4db 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.main-btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #a2d2ff 0%, #cdb4db 100%);
    padding: 14px 32px; 
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

/* NOTE removes underline */
.main-btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #a2d2ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main-btn:hover {
    color: #fff;
}

.main-btn:hover:after {
    width: 100%;
}

.main-img-container {
    text-align: center;
}

#main-img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main-content h2 {
        font-size: 3rem;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

/* NOTE this is for smaller screens */
@media screen and (max-width: 480px) {
    .main-content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main-content h2 {
        font-size: 2rem;
    }

    .main-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main-btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

.main-img-container img {
    width: 140%;
    height: 200%;
}

/* SECTION services */

.services {
    background-image: linear-gradient(to right, #F7A4F6 0%, #9ABEDF 0%, #394180 21%,  #6AA0BE 52%, #FDFDFD 78%, #F7A4F6 100% );
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #a2d2ff 0%, #cdb4db 0%, #bde0fe 21%,  #ffafcc 52%, #ffc8dd 78%, #a2d2ff 100% );
    background-size: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 3.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('/images/nightSun.jpg');
      background-size: cover;
      position: relative;
      color: #fff;
}

.services-card, {
    opacity: 0.8;
}

.services-card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.9) 100%
      ),
      url('/images/sean-foley-qwlkNzlDf5I-unsplash.jpg');
}

.services-card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.9) 100%
      ),
      url('/images/brightSun.jpg');
}

.services-card:nth-child(4) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.9) 100%
      ),
      url('/images/vapoR.jpg');
}

.services-card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services-card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services-card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
}

.services-card button:hover {
    cursor: pointer;
}

.services-card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services {
      height: 1600px;
    }
  
    .services h1 {
      font-size: 2rem;
      margin-top: 12rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .services {
      height: 1400px;
    }
  
    .services h1 {
      font-size: 1.2rem;
    }
  
    .services-card {
      width: 300px;
    }
  }

  /* SECTION footer */
.footer-container {
    background-image: linear-gradient(to right, #F7A4F6 0%, #9ABEDF 0%, #394180 21%,  #6AA0BE 52%, #FDFDFD 78%, #F7A4F6 100% );
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer-logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer-link-wrapper {
    display: flex;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
    margin-bottom: 16px;
  }
  
  .footer-link-items > h2 {
    color: #fff;
  }
  
  .footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-link-items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
  }
  
  /* SECTION social */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website-rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    #footer-logo {
      margin-bottom: 2rem;
    }
  
    .website-rights {
      margin-bottom: 2rem;
    }
  
    .footer-link--wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer-link-items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }